.footer {
    background-color: #1F1F24;
    color: white;
    padding-top: 25px;
}

.footerElements {
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0 100px;
    padding: 0 70px 0px 0;
    border-bottom: 1px solid gray;
}

.footerElements h2 {
    color: orangered;
    margin-bottom: 10px;
    font-size: 25px;
}

.footerLogo {
    width: 5em;
}

.footerRestaurant {
    display: flex;
    align-items: center;
}

.footerDescription {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.link {
    color: gray;
    text-decoration: none;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    transition: color 0.3s ease-out;
}

.link:hover {
    color: white;
    border: 1px solid white;
}

.footerFollowus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    gap: 1em;
    padding: 20px;
    font-size: x-large;
}

.socialIcons {
    color: gray;
    transition: color 0.3s ease-out;
}

.socialIcons:hover {
    color: white;
}

.division {
    margin: 0 100px;
}

.footerCopyRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: gray;
}